<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Missoula Fishing Company</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <!-- JQUERY -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <!-- BOOTSTRAP -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="/static/bundle.js"></script>

</head>

<body>

  <nav class="navbar navbar-default">

    <div class="topbar">
      <p><span class="text-thin">Call to schedule a trip: </span><strong>406-544-5208</strong></p>
    </div>

    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="./public/img/MFC_logo.png"></img></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="./waters">Waters</a></li>
          <li><a href="./town">Town</a></li>
          <li><a href="./trips">Trips</a></li>
          <li><a href="./cast-and-blast">Cast & Blast<span class="sr-only">(current)</span></a></li>
          <li><a href="./story">Story</a></li>
          <li><a href="/media">Media</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="jumbotron header-img">
    <div class="container-fluid">
      <h1 class="white">Cast And Blast</h1>

      <!-- HEADER IMG -->
      <div class="img-overlay"></div>
      <img class="img-responsive" src="./public/img/bird_dog.png"></img>
    </div>
  </div>

  <div class="container main-content">
    <div class="top-callout-text">
      <h2 class="text-center text-medium">Cast And Blast Trips</h2>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-12 trips-feature-block">
        <img src="./public/img/elk.png"></img>
        <p>Fishing isn’t the only game in town. From September 1 to March 1 we offer upland hunting of released birds over pointing dogs at Rooster Ridge 8 miles west of Missoula. This 250 acre preserve of hillsides and brushy draws gives up a mixed bag of locally grown pheasants and chuckars. Start your day in hunting boots then trade them for your waders. That’s Western sporting at it’s finest. Hunts are usually about 3 hours start to finish, and a complete cast and blast day is usually about 9 hours, lunch included.</p>
        <br/>
        <br/>
      </div>

      <div class="col-md-4 col-xs-12 trips-feature-block">
        <img src="./public/img/gourmet_meal.png"></img>

      </div>

      <div class="col-md-3 col-md-offset-1 col-xs-12 trips-feature-block">
        <h4>DETAILS</h4>
        <br/>
        <ul>
          <li>$495 per angler / gunner</li>
          <li>6 roosters released per gun</li>
          <li>Includes hunting guide, dogs and bird cleaning</li>
          <li>Price based on double-occupancy</li>
          <li>Includes guided fly fishing and lunch on the river</li>
          <li>Shotguns and ammo not provided, but are available for purchase and rental</li>
          <li>Ask us about arranging a sporting clays option</li>
        </ul>
        </br>

        <button type="button" class="btn ghost-btn green">Buy a Montana Fishing License</button>

      </div>
    </div>
  </div>

  <hr/>
  <footer>
    Copyright ©2017 Missoula Fishing Company - Missoula, Montana.
  </footer>


  <script src="js/scripts-min.js"></script>
</body>
</html>
