<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Missoula Fishing Company</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <!-- JQUERY -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <!-- BOOTSTRAP -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="/static/bundle.js"></script>

</head>

<body>

  <nav class="navbar navbar-default">

    <div class="topbar">
      <p><span class="text-thin">Call to schedule a trip: </span><strong>406-544-5208</strong></p>
    </div>

    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="./public/img/MFC_logo.png"></public/img></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="./waters">Waters <span class="sr-only">(current)</span></a></li>
          <li><a href="./town">Town</a></li>
          <li><a href="./trips">Trips</a></li>
          <li><a href="./cast-and-blast">Cast & Blast</a></li>
          <li><a href="./story">Story</a></li>
          <li><a href="/media">Media</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="jumbotron header-img">
    <div class="container-fluid">
      <h1 class="white">Our Story</h1>

      <!-- HEADER IMG -->
      <div class="img-overlay"></div>
      <img class="img-responsive" src="./public/img/hess_family.png"></public/img>
    </div>
  </div>

  <div class="container main-content">

    <div class="row">
      <div class="col-md-4 col-xs-12 trips-feature-block">
        <p>Erik Hess (owner and outfitter of MFC) moved to Missoula, Montana, from Spokane in a 1972 Volkswagon Superbeetle. He had a float tube strapped to the bike rack on top, next to a 5-weight Winston two-piece rod. A dogeared copy of David Duncan’s The River Why rode shotgun and an old double barreled Browning claimed the back seat. And though, he was moving here to study wildlife biology at the University of Montana, he never wavered on the reason he chose Missoula — trout.</p>
        <br/>
        <br/>
        <p>No surprise then, that in 1998, Erik took up guiding. Partly to make some money, but mostly just to spend as much time as humanly possible on the water. He became quite good at it, using his own passion for fishing to learn every hatch and every river bend west of Livingston.</p>
        <br/>
        <p>He never looked back.</p>
        <br/>
        <br/>
        <p>Erik grew to love Missoula, with its collision of college sophistication and bruised knuckle history. He met a girl named Kelli who tugged at his heart the way only trout had before and he married her. He has three kids — Henry, Delta and Rudy, who also love the outdoors. He has bird dogs (the latest being a pretty fair lab named Carp), egg laying chickens and a beautiful garden. He hunts most anything — elk, deer, partridge, crawdads, mushrooms, shed horns, anything that takes him outside.</p>
        <br/>
        <br/>
        <p>Inevitably, like the rivers themselves, Erik has carved a life here as a husband, father, hunter, angler, gatherer and — to the great fortune of several hundred clients — guide. He looks forward to sharing a bit of that life — the good life — with you.</p>
      </div>

      <div class="col-md-4 col-xs-12 trips-feature-block">
        <h3>MFC Guide Staff:</h3>
        <br/>
        <br/>
        <p>There are a lot of guides in Missoula. And in all honesty, it isn’t hard to get a license or a gig.</p>
        <br/>
        <br/>
        <p>It is however hard to guide for Erik.  After 15 years as a guide in Missoula, he knows how to spot the good ones, and they’re the only ones he hires.</p>
        <br/>
        <br/>
        <p>The best guides are easy to spend time with. They know as much about the river and the landscape as they do about fish. They are intense in a way that helps their clients fish better without even realizing it. They have interesting stories and make a good lunch. Most of all, they are fishy as hell, the kind of people who could pull a 24-inch brown trout out of your bathtub and say, “See, I told you he was in there.”</p>
        <br/>
        <br/>
        <p>In other words, at Missoula Fishing Company, we guarantee the one thing we can. You’ll have a great day with an accomplished guide who will work his or herself to the bone to put you on fish and show you what our little corner of the world is like.</p>
      </div>

      <div class="col-md-3 col-md-offset-1 col-xs-12 trips-feature-block">
        <img src="./public/img/hess_and_wife.png"></public/img>
        <p><strong>Missoula Fishing Company</strong></p>
        <p>Montana Outfitter #7940</p>
      </div>
    </div>
  </div>

  <hr/>
  <footer>
    Copyright ©2017 Missoula Fishing Company - Missoula, Montana.
  </footer>


  <script src="js/scripts-min.js"></script>
</body>
</html>
