<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Missoula Fishing Company</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <!-- JQUERY -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <!-- BOOTSTRAP -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="styles-min.css">

</head>

<body>

<nav class="navbar navbar-default">

  <div class="topbar">
    <p><span class="text-thin">Call to schedule a trip: </span><strong>406-544-5208</strong></p>
  </div>

  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="./img/MFC_logo.png"></img></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="./waters.html">Our Waters</a></li>
        <li class="active"><a href="./town.html">Our Town</a><span class="sr-only">(current)</span></li>
        <li><a href="./trips.html">Our Trips</a></li>
        <li><a href="./story.html">Our Story</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Social Media Icons</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="jumbotron header-img">
    <div class="container-fluid">
      <h1 class="white">Our Town</h1>

      <!-- HEADER IMG -->
      <div class="img-overlay"></div>
      <img class="img-responsive" src="./img/missoula.png"></img>
    </div>
  </div>

  <div class="container main-content">
    <div class="top-callout-text">
      <h2 class="text-center text-medium">“The world is full of bastards, the number increasing rapidly the further one gets from Missoula, Montana.”</h2>
      <h5 class="text-right text-medium">- Norman Maclean, A River Runs Through It</h5>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-12 trips-feature-block">
        <img src="./img/zoo_downtown.png"></img>
        <p>Missoula, Montana, is a place that’s easy to fall in love with, especially if you like to fish. Within a double haul of town, you’ll find a lifetime of varied water filled with wild and native trout, some of it running right through the middle of downtown. Once here, however, you may discover you enjoy the time you spend in town almost as much as the time you spend on the water. </p>
        <br/>
        <br/>
        <p>Missoula is culturally cool and sophisticated in a laid-back mountain way. Here you’ll find terrific restaurants, great hotels and an eclectic mix of shops and art galleries. There are no fewer than six world-class microbreweries and twice that many coffee shops. The Farmer’s Market (each Saturday morning from May through September) is a true happening that takes over most of downtown. Missoula is also the home of the University of Montana, a famed school for writing, environmental studies, law and division IAA football. In fact, if you come in September, you may want to catch a game.</p>
      </div>

      <div class="col-md-4 col-xs-12 trips-feature-block">
        <p>But more than any of the “stuff” what sets Missoula apart is its attitude. The people are friendly. The environment is healthy. Everything feels fresh, alive and vibrant. Even if you didn’t fish, it’d be a great place to visit.</p>
        <br/>
        <br/>
        <p>Below are just a few of the places that receive the MFC stamp of approval. Enjoy.</p>
        <br/>
        <br/>
        <h2> Things to Do in Missoula When You’re Not Fishing: </h2>
        <br/>
        <ul>
          <li>Rocky Mountain Elk Foundation Visitor Center</li>
          <li>Farmers’ Market (Saturday mornings at 9 a.m., downtown)</li>
          <li>Hike the Rattlesnake (beautiful easy hike along a beautiful stream)</li>
          <li>First Friday Gallery Hop (galleries open late the first Friday of every month)</li>
          <li>Microbreweries (Kettlehouse, Draught Works, Big Sky Brewing, Bayern, Flathead Lake Brewery, Tamarack)</li>
          <li>Walk the Kim Williams Trail (takes you through town along the Clark Fork)</li>
          <li>Catch an Osprey Game (minor league baseball team)</li>
          <li>National Bison Range (45 minute drive north for great wildlife viewing)</li>
          <li>Movie at the Wilma (grand old theater with good movies and … beer!)</li>
        </ul>
      </div>

      <div class="col-md-3 col-md-offset-1 col-xs-12 trips-feature-block">
        <img src="./img/trout_underwater.png"></img>
        <h4>Hotels</h4>
        <ul>
          <li>Double Tree</li>
          <li>C’Mon Inn</li>
          <li>Hilton Garden Inn</li>
        </ul>

        <h4>Restaurants — Breakfast</h4>
        <ul>
          <li>The Shack</li>
          <li>The Hob Nob</li>
          <li>Rattlesnake Gardens</li>
        </ul>

        <h4>Restaurants — High End</h4>
        <ul>
          <li>The Pearl Café</li>
          <li>The Red Bird Wine Bar</li>
          <li>Scotty’s Table</li>
          <li>Cafe’ Dolce</li>
        </ul>

        <h4>Restaurants — Bar Food</h4>
        <ul>
          <li>Flathead Lake Brew Pub</li>
          <li>Ironhorse Brew Pub</li>
          <li>The Old Post</li>
          <li>Tamarack Brew Pub</li>
          <li>Dinosaur Café</li>
          <li>Depot Deck</li>
        </ul>

        <br/>
        For more on things to see in do in the Missoula area, visit:
        <button type="button" class="btn ghost-btn green">DestinationMissoula.org</button>


      </div>
    </div>
  </div>

  <hr/>
  <footer>
    Copyright ©2017 Missoula Fishing Company - Missoula, Montana.
  </footer>


  <script src="js/scripts-min.js"></script>
</body>
</html>
