<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Missoula Fishing Company</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <!-- JQUERY -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <!-- BOOTSTRAP -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/static/bundle.js"></script>

</head>

<body>

  <nav class="navbar navbar-default">

    <div class="topbar">
      <p><span class="text-thin">Call to schedule a trip: </span><strong>406-544-5208</strong></p>
    </div>

    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="./public/img/MFC_logo.png"></img></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="./waters">Waters <span class="sr-only">(current)</span></a></li>
          <li><a href="./town">Town</a></li>
          <li><a href="./trips">Trips</a></li>
          <li><a href="./cast-and-blast">Cast & Blast</a></li>
          <li><a href="./story">Story</a></li>
          <li><a href="#">Media</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="jumbotron header-img">
    <div class="container-fluid">
      <h1 class="white">Our Trips</h1>

      <!-- HEADER IMG -->
      <div class="img-overlay"></div>
      <img class="img-responsive" src="./public/img/trips_bg.png"></img>
    </div>
  </div>

  <div class="container main-content">
    <div class="top-callout-text">
      <h2 class="text-center text-medium">Our commitment is to make your experience as enjoyable as possible.</h2>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-12 trips-feature-block">
        <img src="./public/img/elk.png"></img>
        <p>Missoula Fishing Company prides itself providing you, the client, an experience you won’t forget.  Often, people that fish with us consider the adventures we share as ‘bucket list’ material.  Whether it is a half day floating through town, or a 5 day overnight in some of the most beautiful places on earth, one thing is constant; our commitment in making your experience as enjoyable as possible.</p>
        <br/>
        <h2>Day Trips:</h2>
        <p>A typical day with Missoula Fishing Company will include your guide picking you up, a full day or half day of fishing, and a great shore lunch.  Our home waters include the Bitterroot, Blackfoot, Clark Fork, Missouri and Rock Creek. Your guide will suggest some fantastic fishing options while accommodating your needs and expectations.  If you have something particular in mind, please let us know.  After your day of fishing, you will be returned to your hotel where you can enjoy Missoula’s bounty of great shops, restaurants and culture.</p>
        <br/>
        <h2>Our Lodging Packages:</h2>
        <p>Looking to be completely immersed in the fishing experience?  This one’s for you!  Missoula Fishing Company offers trips that are one of a kind.  Whether it’s just a couple of nights on the river or a week long trip in the back country, you’ll get your fill of great food, campfires and plenty of star gazing.  Oh ya, this is all after a full day of fishing!</p>
        </br>
        </br>
        <h3>CAMPS:</h3>
        <p>We stay at beautiful, secluded, riverside campsites each evening. We scout these sites in advance, and our party will be the only party there. In addition, we provide ample shelter and tents for eating and sleeping. We even set up a shower tent so you can enjoy a hot shower when you so choose.</p>
      </div>

      <div class="col-md-4 col-xs-12 trips-feature-block">
        <img src="./public/img/gourmet_meal.png"></img>
        <h3>MEALS:</h3>
        <p>A typical morning starts with a breakfast sandwich made with local Montana eggs and ham or maybe huckleberry pancakes with a side of venison breakfast sausage, chased down with pressed, Missoula-roasted coffee. Depending on the day, lunches are often hot. Think grilled elk brats heaped with homemade pickled relish or smoked duck curry wraps. For dinners, we pull out all the stops with wonderful starters like wild morel bisque and a crayfish cocktail followed by entrees that include plank roasted Copper River salmon and beef tenderloin paired with merlots, pinots and chardonnays from the Northwest. We often cap the day with cobbler or cake pulled fresh from the Dutch oven. In short, we love good, organic, local food and we love to share it with our guests. All vegan and vegetarian meals can be arranged with your help!</p>
        <br/>
        <br/>
        <a href="#" class="pull-right">See sample menu > </a>

        <br/>
        <br/>
        <br/>
        <h3>EXTRAS:</h3>
        <p>Your comfort and safety are very important to us. If needed, we take a satellite phone for emergencies (though we’ve never needed to use it). You may use the phone for personal reasons but related costs will be added to your bill. We are also open to arranging for special requests, such as specialty foods and drinks, instruments for playing and even a masseuse. Just ask.</p>

        <br/>
        <h2>Our Family Trips:</h2>
        <p>Missoula Fishing Company is all about family.  If you’ve got some aspiring anglers, swimmers or crawdad catchers, bring them along!  Our guide staff loves sharing our amazing part of the world with children.  On any given day, we’ll try and catch fish (not just trout), bugs, snakes, crawdads etc. while hopefully getting to see a few critters during our float.  So if mom and dad are good with a few educational pit stops (and swimming holes), we’re sure to succeed!</p>
        </br>
        </br>
        <p>Missoula Fishing Company staff take the ‘precious cargo’ very seriously.  While trying to provide you with more fun than ever, we don’t skimp on any aspects of safety.  We’ve got the right sized life jackets, plenty of sunscreen and always have an advanced first aid kit on board.  And don’t worry, our coolers will be full of PB&J’s, goldfish and juiceboxes!</p>

      </div>

      <div class="col-md-3 col-md-offset-1 col-xs-12 trips-feature-block">
        <h4>RATES</h4>
        <p>The following rates are all inclusive for one or two people, float or wade fishing. Cost does not include fishing license, alcoholic beverages or guide gratuity. Trips can be arranged any day of the week or time of year. </p>
        </br>
        </br>
        <h3>Full Day: $500 </h3>
        <br/>
        <p>Includes guided fishing, all flies, leaders, a very nice lunch and shuttle / transportation. Rock Creek and the Missouri are an additional $75.</p>
        </br>
        </br>
        <h3>Full Day: $500 </h3>
        <br/>
        <p>Includes guided fishing, all flies, leaders, a very nice lunch and shuttle / transportation. Rock Creek and the Missouri are an additional $75.</p>
        </br>
        </br>
        <h3>Half Day: $400 </h3>
        <br/>
        <p>Includes guided fishing, all flies, leaders, snacks and shuttle/transportation.</p>
        </br>
        </br>
        <p>A third person/angler will be considered for an additional $125/day trip.  Please inquire. </p>

        <br/>
        <br/>
        <h4>RESERVATION / CANCELLATION POLICIES</h4>
        <p><strong>Day Trips are for 1 or 2 people.</strong> 50% down at time of booking for every boat requested (up to 2 people/boat). Your deposit will be refunded if cancelled within 1 month of launch date. Last minute cancellations will result in forfeiture of deposit.</p>
        </br>
        </br>
        <p><strong>Overnight Trips/Lodging.</strong>  50% down at time of booking.  Deposits are non-refundable.  If Missoula Fishing Company can re-book your cancellation, we will be happy to refund your deposit.</p>
        </br>

        <button type="button" class="btn ghost-btn green">Buy a Montana Fishing License</button>
        <button type="button" class="btn ghost-btn green">Cast and Blast Trips</button>


      </div>
    </div>
  </div>

  <hr/>
  <footer>
    Copyright ©2017 Missoula Fishing Company - Missoula, Montana.
  </footer>


  <script src="js/scripts-min.js"></script>
</body>
</html>
