<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Missoula Fishing Company</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <!-- JQUERY -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <!-- BOOTSTRAP -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="/static/bundle.js"></script>

</head>

<body>

  <nav class="navbar navbar-default">

    <div class="topbar">
      <p><span class="text-thin">Call to schedule a trip: </span><strong>406-544-5208</strong></p>
    </div>

    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="./public/img/MFC_logo.png"></public/img></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="./waters">Waters <span class="sr-only">(current)</span></a></li>
          <li><a href="./town">Town</a></li>
          <li><a href="./trips">Trips</a></li>
          <li><a href="./cast-and-blast">Cast & Blast</a></li>
          <li><a href="./story">Story</a></li>
          <li><a href="/media">Media</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="jumbotron header-img">
    <div class="container-fluid">
      <h1 class="white">Our Waters</h1>

      <!-- HEADER IMG -->
      <div class="img-overlay"></div>
      <img class="img-responsive" src="./public/img/waters_bg.png"></public/img>
    </div>
  </div>

  <div class="container main-content">
    <div class="top-callout-text">
      <h2 class="text-center text-medium">Big, wild, and majestic rivers. More than 25 full day floats within an hour of town. Welcome to fly fishing paradise.</h2>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-12 trips-feature-block">
        <img src="./public/img/blackfoot.png"></public/img>
        <h2>The Blackfoot:</h2>
        <p>The Big Blackfoot is one of the West's great conservation stories. Back in the days of A River Runs Through it, it was the Maclean's family river and offered the best fishing in the area. But decades of logging, mining and grazing, took their toll and crippled fish populations well into the '70s. That's when local citizens banded together and began work to restore the mighty Blackfoot. They cleaned up tailings. Fenced cattle off the tribs. Prohibited logging right down to the riverbanks. And it all worked.</p>
        <br/>
        <br/>
        <p>Today, the Blackfoot is probably the best big fish river in our area, and the one where you can most reliably fish for the cycle — catching cutthroats, bull trout, rainbows and browns in a single day. It's also easy on the eyes; a deep, brawling ribbon of green that cuts through mountains, canyons, ag land and country you'd swear was untouched by time. Spending a day on the Blackfoot, will take you through iconic western landscapes fishing to native and wild trout. You'll be pinching yourself.</p>
        <br/>
        <br/>
        <img src="./public/img/clark_fork_box.png"></public/img>
        <h2>The Clark Fork:</h2>
        <p>The Clark Fork is, technically speaking, a single river. But we think of it as three rivers. The upper stretch oxbows its way through wide valleys where cowboys still move cattle on horseback. This is largely brown trout water with lots of 12 to 16 inch fish, and true bruisers lurking in the undercuts. Just above town, Rock Creek and the Blackfoot join the Clark Fork, with the Bitterroot following suit just below town. This influx of cold, clean water changes the Clark Fork into ideal habitat for cutthroats and rainbows too.</p>
        <br/>
        <br/>
        <p>The river itself widens and braids. It offers a full menu of fishing options — dry flies in the wide flats, streamers slapped along undercuts and wet flies swung in the diamond chop. The third stretch of the Clark Fork River begins well below town at Alberton Gorge, where it picks up speed in a burst of class-three rapids, only to open up again on its way to the Columbia. Fishing here with hoppers and droppers is a treat and the fish are big and hungry. You will see backing. </p>
        <br/>
        <br/>
        <img src="./public/img/bitterroot.png"></public/img>
        <h2>The Bitterroot:</h2>
        <p>When we think of the Bitterroot, we think of hatches — skwala stones, golden stones, gray drakes, green drakes, mother’s day caddis, tricos and hoppers. The Bitterroot is a hatch lovers dream. On any given day, you’re likely to fish three or four distinct hatches. Best of all, you’re likely to fish them to big, sometimes finicky, mostly sipping rainbows, browns and cutthroats.</p>
      </div>

      <div class="col-md-4 col-xs-12 trips-feature-block">
        <p>Another truly wonderful thing about the Bitterroot is the scenery. The river is named for the mountain range it runs along (though fishermen among us might argue it should be the opposite), and it is stunning; giant craggy peaks that reach back into one of the largest Wilderness areas in the lower 48. One last consideration, the ‘Root sits squarely in Montana’s Banana Belt. Which means it tends to fish well earlier in the spring and stay viable late into fall.</p>
        <br/>
        <br/>
        <img src="./public/img/rock_creek.png"></public/img>
        <h2>Rock Creek:</h2>
        <p>If you were a Rembrandt with a strong fishing jones and were told to paint a picture of the perfect trout river, you would paint Rock Creek. Even if you’d never seen Rock Creek. It’s small enough to wade, big enough to float. It varies in character, featuring riffles, runs, plunge pools and undercuts. It’s full of fish that readily charge to the fly. Quite simply, it’s enough to make a fishing Rembrandt weep openly.</p>
        <br/>
        <br/>
        <p>In the spring and early summer (up to June 30), we float fish it. This season usually comes to a head when the waning spring run off coincides with the Salmon Fly hatch — pumpkin orange bugs as long as your index finger. Trapped by the surface tension of the creek, they are hapless floating Snickers bars that cause trout pandemonium of the best kind. The rest of the year, Rock Creek is for wade fishing only and offers excellent terrestrial, mayfly, caddis and stonefly fishing right through mid October. </p>
        <br/>
        <br/>
        <img src="./public/img/missouri.png"></public/img>
        <br/>
        <h2>The Missouri:</h2>
        <p>From Missoula you can be on the Missouri in about the same amount of time it takes to get to the upper reaches of the Bitterroot or Rock Creek. Because of that, we think of it as home water, particularly when runoff has area freestones rolling with mud. The Missouri is a storied, spring creek-prolific tail water with certifiable blizzard hatches and trout that stretch the tape to 28”. As a tail water, the character of the river changes little over the upper 30 miles or so below Holter Dam. But the fishing varies quite a bit over the course of a day — stripping streamers in the early hours, working small nymphs in the seams through late morning, plopping size-8 hoppers tight to willow-choked banks in the afternoon and fishing tiny dries in technical backwater as the sun dips behind the Rocky Mountain Front. It’s something special.</p>
        <br/>
        <br/>
        <p>But what really draws us across the divide, is the fish. The Missouri is one place where you can cast a size-20 emerger to legitimately big, sipping rainbows and browns. And once you hook them — even the 16” variety — you’re in for a ride. They will peel yards of backing and show you more aerial moves than Cirque du Soleil. Trust us, it’s worth the drive.</p>
      </div>

      <div class="col-md-3 col-md-offset-1 col-xs-12 trips-feature-block">
        <img src="./public/img/fish_net_2.png"></public/img>
        <h4>FACTS</h4>
        <ul>
          <li>Catchable species on the fly include Westslope Cutthroat, Rainbow, Brown, Bull and Brook trout, Northern Pike, Smallmouth Bass and Carp</li>
          <br/>
          <li>Notable hatches include Salmon Flies, Golden Stoneflies, Skwala Stoneflies, Blue Wing Olives, PMDs, Mahogany duns, Green drakes, Caddis and Spruce Moths</li>
          <br/>
          <li>Over 350 miles of float-fishable water within an 90 minutes of town, plus many wadable creeks and still water options</li>
          <br/>
          <li>Exceptional fishing with dry flies</li>
          <br/>
          <li>Comfortable and productive fishing mid-March through mid-November</li>
        </ul>
        <button type="button" class="btn ghost-btn green">Montana Streamflows</button>
        <button type="button" class="btn ghost-btn green">Buy a Montana Fishing License</button>
        <button type="button" class="btn ghost-btn green" onclick="window.location.href = './cast-and-blast'">Cast and Blast Trips</button>


      </div>
    </div>
  </div>

  <hr/>
  <footer>
    Copyright ©2017 Missoula Fishing Company - Missoula, Montana.
  </footer>


  <script src="js/scripts-min.js"></script>
</body>
</html>
